*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-user-drag: none
}

/*Scroll bar style*/
::-webkit-scrollbar {
  width: 8px
}

::-webkit-scrollbar-thumb {
  background: #1AABEA;
}

::-webkit-scrollbar-track {
  background-color: #404040
}

body{
  width: 100%;
  margin: 0;
  padding: 0;
}

/*Navbar style*/
nav{
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  background: #303030;
  top: 0;
}

.nav-list{
  list-style: none;
  display: flex;
}

.nav-list li{
  font-weight: bolder;
}

.nav-list.active{
  transform: translateX(0);
}

nav ul li a{
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

nav ul li a:hover{
  color: #33bbff;
}

.hvr-underline-from-center{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before{
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #33bbff;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before{
  left: 0;
  right: 0;
}

/*Header style*/
header{
  background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .9)), url(images/arch-header-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  top: 0;
}

.header-title{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
}

#download-arch-button{
  border: 2px solid #fff;
  border-radius: 6px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

#download-arch-button:hover{
  background-color: #fff;
  color: #000;
  transition: 0.8s;
}

/*About Arch style*/
#about-arch-linux{
  font-family: 'Josefin Sans', sans-serif;
  background: url(images/about-arch-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title{
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  align-items: center;
  justify-content: center;
}

.title-line{
  background-color: #000;
}

#text-about-arch p{
  font-weight: bolder;
}

.about-arch-cards{
  display: flex;
  justify-content: center;
  font-weight: bolder;
}

.card{
  border-radius: 7px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color: #33bbff;
  color: #fff;
}

.card a{
  color: #fff;
}

/*Download style*/
#download-arch-linux{
  font-family: 'Josefin Sans', sans-serif;
  background: #303030;
  width: 100%;
  color: #fff;
}

.download-line{
  background-color: #fff;
}

#download-arch-linux h3{
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.download-arch-card{
  border-radius: 7px;
  border: 4px solid #fff;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color: #33bbff;
  color: #fff;
  display: flex;
}

.download-arch-card p{
  font-weight: bolder;
}

.download-arch-card a{
  color: #fff;
}

/*Footer syle*/
footer{
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  background-color: #33bbff;
  text-align: center;
}

footer h3{
  font-weight: bolder;
}


/*Desktop PC - High DPI*/
@media screen and (min-width: 1400px){
  
  /*Navbar style*/
  nav{
    height: 8vh;
    width: 100%;
    top: 0;
  }

  #arch-navbar-logo img{
    width: 6vh;
    margin-right: 70vh;
  }

  .nav-list li{
    margin-left: 32px;
    font-weight: bolder;
  }

  nav ul li a{
    padding-bottom: 5px;
  }

  #about-arch-linux p{
    margin-top: 5vh;
  }

  #about-arch-linux h3{
    margin-top: 2vh;
  }

  /*Header style*/
  header{
    height: 65vh;
  }

  .header-title{
    padding-top: 19vh;
    font-size: 22px;
  }

  .header-title img{
    width: 48vh;
    padding-bottom: 2vh;
  }

  #download-arch-button{
    font-size: 18px;
    margin-top: 4vh;
    padding: 2vh;
  }

  #about-arch-linux{
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .title{
    font-size: 22px;
  }

  .title-line{
    height: 0.8px;
    width: 33%;
    margin-left: 5vh;
    margin-right: 5vh;
  }

  #text-about-arch{
    display: flex;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 35vh;
  }

  #text-about-arch img{
    width: 50vh;
    margin-left: 29vh;
  }

  #text-about-arch p{
    margin-left: 6vh;
    line-height: 4vh;
    font-size: 18px;
  }

  .about-arch-cards-mobile{
    display: none;
  }

  .about-arch-cards{
    margin-top: 5vh;
  }

  .card{
    width: 40vh;
    line-height: 3vh;
    padding: 6vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 7px;
  }

  .card p{
    font-size: 18px;
  }

  #card1{
    margin-right: 5vh;
  }

  #card3{
    margin-left: 5vh;
  }

  /*Download style*/
  #download-arch-linux{
    height: 60vh;
    padding-top: 5vh;
  }

  #download-arch-linux h3{
    margin-top: 2vh;
    font-size: 25px;
  }

  .download-line{
    width: 36.5%;
  }

  .download-arch-card{
    width: 90vh;
    line-height: 3vh;
    padding: 6vh;
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 60vh;
    border-radius: 7px;
    border: 4px solid #fff;
  }

  .download-arch-card p{
    font-size: 20px;
  }

  .download-arch-card img{
    width: 17vh;
    margin-right: 5vh;
  }

  /*Footer syle*/
  footer{
    padding-top: 1vh;
  }

  footer h3{
    padding: 1vh;
  }
  
}

/*Desktop PC - Low DPI*/
@media screen and (min-width: 1200px) and (max-width: 1399px){
  
  /*Navbar style*/
  nav{
    height: 8vh;
    width: 100%;
    top: 0;
  }

  #arch-navbar-logo img{
    width: 6vh;
    margin-right: 70vh;
  }

  .nav-list li{
    font-weight: bolder;
  }

  nav ul li a{
    padding-bottom: 5px;
  }

  #about-arch-linux p{
    margin-top: 5vh;
  }

  #about-arch-linux h3{
    margin-top: 2vh;
  }

  /*Header style*/
  header{
    height: 65vh;
  }

  .header-title{
    padding-top: 15vh;
    font-size: 22px;
  }

  .header-title img{
    width: 48vh;
    padding-bottom: 2vh;
  }

  #download-arch-button{
    font-size: 18px;
    margin-top: 4vh;
    padding: 2vh;
  }

  #about-arch-linux{
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .title{
    font-size: 22px;
  }

  .title-line{
    height: 0.8px;
    width: 33%;
    margin-left: 5vh;
    margin-right: 5vh;
  }

  #text-about-arch{
    display: flex;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 35vh;
  }

  #text-about-arch img{
    width: 50vh;
    margin-left: 29vh;
  }

  #text-about-arch p{
    margin-left: 6vh;
    line-height: 4vh;
    font-size: 18px;
  }

  .about-arch-cards-mobile{
    display: none;
  }

  .about-arch-cards{
    margin-top: 5vh;
  }

  .card{
    width: 40vh;
    line-height: 3vh;
    padding: 6vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 7px;
  }

  .card p{
    font-size: 18px;
  }

  #card1{
    margin-right: 5vh;
  }

  #card3{
    margin-left: 5vh;
  }

  /*Download style*/
  #download-arch-linux{
    height: 60vh;
    padding-top: 5vh;
  }

  #download-arch-linux h3{
    margin-top: 2vh;
    font-size: 25px;
  }

  .download-line{
    width: 36.5%;
  }

  .download-arch-card{
    width: 90vh;
    line-height: 3vh;
    padding: 6vh;
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 40vh;
    border-radius: 7px;
    border: 4px solid #fff;
  }

  .download-arch-card p{
    font-size: 20px;
  }

  .download-arch-card img{
    width: 17vh;
    margin-right: 5vh;
  }

  /*Footer syle*/
  footer{
    padding-top: 1vh;
  }

  footer h3{
    padding: 1vh;
  }
  
}

/*Large Tablets*/
@media screen and (min-width: 992px) and (max-width: 1199px){
  
  /*Navbar style*/
  nav{
    height: 8vh;
    width: 100%;
    top: 0;
  }

  #arch-navbar-logo img{
    width: 6vh;
    margin-right: 60vh;
  }

  .nav-list li{
    font-weight: bolder;
    padding-right: 3vh;
  }

  nav ul li a{
    padding-bottom: 5px;
  }

  #about-arch-linux p{
    margin-top: 5vh;
  }

  #about-arch-linux h3{
    margin-top: 2vh;
  }

  /*Header style*/
  header{
    height: 55vh;
  }

  .header-title{
    padding-top: 13vh;
    font-size: 22px;
  }

  .header-title img{
    width: 48vh;
    padding-bottom: 2vh;
  }

  #download-arch-button{
    font-size: 18px;
    margin-top: 4vh;
    padding: 2vh;
  }

  #about-arch-linux{
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .title{
    font-size: 22px;
  }

  .title-line{
    height: 0.8px;
    width: 30%;
    margin-left: 5vh;
    margin-right: 5vh;
  }

  #text-about-arch{
    display: flex;
    margin-left: 5vh;
    margin-right: 15vh;
  }

  #text-about-arch img{
    width: 50vh;
    height: 40vh;
    margin-top: 5vh;
    margin-left: 8vh;
  }

  #text-about-arch p{
    margin-left: 6vh;
    line-height: 4vh;
    font-size: 22px;
  }

  .about-arch-cards-mobile{
    display: none;
  }

  .about-arch-cards{
    margin-top: 5vh;
  }

  .card{
    width: 40vh;
    line-height: 4vh;
    padding: 4vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 7px;
  }

  .card p{
    font-size: 22px;
  }

  #card1{
    margin-right: 5vh;
  }

  #card3{
    margin-left: 5vh;
  }

  /*Download style*/
  #download-arch-linux{
    height: 60vh;
    padding-top: 5vh;
  }

  #download-arch-linux h3{
    margin-top: 2vh;
    font-size: 25px;
  }

  .download-line{
    width: 36.5%;
  }

  .download-arch-card{
    width: 90vh;
    line-height: 3vh;
    padding: 6vh;
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 22vh;
    border-radius: 7px;
    border: 4px solid #fff;
  }

  .download-arch-card p{
    font-size: 22px;
  }

  .download-arch-card img{
    width: 17vh;
    margin-right: 5vh;
  }

  /*Footer syle*/
  footer{
    padding-top: 1vh;
  }

  footer h3{
    padding: 1vh;
  }
  
}

/*Tablets*/
@media screen and (min-width: 768px) and (max-width: 991px){
  
  /*Navbar style*/
  nav{
    height: 8vh;
    width: 100%;
    top: 0;
  }

  #arch-navbar-logo img{
    width: 6vh;
    margin-right: 20vh;
  }

  .nav-list li{
    font-weight: bolder;
    padding-right: 2.5vh;
  }

  nav ul li a{
    padding-bottom: 5px;
  }

  #about-arch-linux p{
    margin-top: 5vh;
  }

  #about-arch-linux h3{
    margin-top: 2vh;
  }

  /*Header style*/
  header{
    height: 55vh;
  }

  .header-title{
    padding-top: 15vh;
    font-size: 22px;
  }

  .header-title img{
    width: 48vh;
    padding-bottom: 2vh;
  }

  #download-arch-button{
    font-size: 18px;
    margin-top: 4vh;
    padding: 2vh;
  }

  #about-arch-linux{
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .title{
    font-size: 20px;
  }

  .title-line{
    height: 0.8px;
    width: 30%;
    margin-left: 2vh;
    margin-right: 2vh;
  }

  #text-about-arch{
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
  }

  #text-about-arch img{
    width: 45vh;
    height: 40vh;
    margin-left: 10vh;
  }

  #text-about-arch p{
    margin-left: 3vh;
    line-height: 4vh;
    font-size: 25px;
  }

  .about-arch-cards-mobile{
    display: none;
  }

  .about-arch-cards{
    margin-top: 2vh;
  }

  .card{
    width: 40vh;
    line-height: 3vh;
    padding: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 7px;
  }

  .card p{
    font-size: 22px;
  }

  #card1{
    margin-right: 2vh;
  }

  #card3{
    margin-left: 2vh;
  }

  /*Download style*/
  #download-arch-linux{
    height: 60vh;
    padding-top: 5vh;
  }

  #download-arch-linux h3{
    margin-top: 2vh;
    font-size: 29px;
  }

  .download-line{
    width: 36.5%;
  }

  .download-arch-card{
    width: 60vh;
    line-height: 3vh;
    padding: 6vh;
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 8vh;
    border-radius: 7px;
    border: 4px solid #fff;
  }

  .download-arch-card p{
    font-size: 23px;
  }

  .download-arch-card img{
    width: 17vh;
    margin-right: 5vh;
  }

  /*Footer syle*/
  footer{
    padding-top: 1vh;
  }

  footer h3{
    padding: 1vh;
  }
  
}

/*Smartphones - Large*/
@media screen and (min-width: 576px) and (max-width: 767px){
  
  /*Navbar style*/
  nav{
    height: 12vh;
    width: 100%;
    top: 0;
  }

  #arch-navbar-logo img{
    width: 8vh;
    margin-right: 75vh;
  }

  .nav-list li{
    font-weight: bolder;
    padding-right: 5vh;
    font-size: 13px;
  }

  nav ul li a{
    padding-bottom: 5px;
  }

  #about-arch-linux p{
    margin-top: 5vh;
  }

  #about-arch-linux h3{
    margin-top: 2vh;
  }

  /*Header style*/
  header{
    height: 75vh;
  }

  .header-title{
    padding-top: 16vh;
    font-size: 13px;
  }

  .header-title img{
    width: 68vh;
    padding-bottom: 2vh;
  }

  #download-arch-button{
    font-size: 13px;
    margin-top: 4vh;
    padding: 4vh;
  }

  #about-arch-linux{
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .title{
    font-size: 13px;
  }

  .title-line{
    height: 0.8px;
    width: 33%;
    margin-left: 5vh;
    margin-right: 5vh;
  }

  #text-about-arch{
    display: flex;
    margin-left: 5vh;
    margin-right: 15vh;
  }

  #text-about-arch img{
    width: 60vh;
    margin-top: 12vh;
    margin-left: 10vh;
  }

  #text-about-arch p{
    margin-top: 12vh;
    margin-left: 18vh;
    line-height: 6vh;
    font-size: 14px;
  }

  .about-arch-cards-mobile{
    display: none;
  }

  .about-arch-cards{
    margin-top: 5vh;
  }

  .card{
    width: 60vh;
    line-height: 6vh;
    padding: 6vh;
    margin-top: 10vh;
    margin-bottom: 2vh;
    border-radius: 7px;
  }

  .card h2{
    font-size: 18px;
  }

  .card p{
    font-size: 13px;
  }

  #card1{
    margin-right: 10vh;
  }

  #card3{
    margin-left: 10vh;
  }

  /*Download style*/
  #download-arch-linux{
    height: 80vh;
    padding-top: 5vh;
  }

  #download-arch-linux h3{
    margin-top: 2vh;
    font-size: 20px;
  }

  .download-line{
    width: 36.5%;
  }

  .download-arch-card{
    width: 130vh;
    line-height: 3vh;
    padding: 6vh;
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 38vh;
    border-radius: 7px;
    border: 4px solid #fff;
  }

  .download-arch-card p{
    font-size: 15px;
  }

  .download-arch-card img{
    width: 25vh;
    margin-right: 5vh;
  }

  /*Footer syle*/
  footer{
    padding-top: 1vh;
  }

  footer h3{
    padding: 1vh;
    font-size: 13px;
  }
  
}

/*Smartphones*/
@media screen and (min-width: 320px) and (max-width: 575px){
  
  /*Navbar style*/
  nav{
    display: none;
  }

  /*Header*/
  #about-arch-linux p{
    margin-top: 5vh;
  }

  #about-arch-linux h3{
    margin-top: 2vh;
  }

  /*Header style*/
  header{
    height: 45vh;
  }

  .header-title{
    padding-top: 6vh;
    font-size: 14px;
  }

  .header-title img{
    width: 38vh;
    padding-bottom: 2vh;
  }

  #download-arch-button{
    font-size: 18px;
    margin-top: 7vh;
    padding: 2vh;
  }

  #about-arch-linux{
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .title{
    font-size: 14px;
  }

  .title-line{
    height: 0.8px;
    width: 13%;
    margin-left: 3vh;
    margin-right: 3vh;
  }

  #text-about-arch{
    margin-top: 5vh;
    margin-right: 5vh;
  }

  #text-about-arch img{
    width: 40vh;
    height: 30vh;
    margin-left: 5vh;
  }

  #text-about-arch p{
    margin-left: 5vh;
    line-height: 4vh;
    font-size: 19px;
  }

  .about-arch-cards{
    display: none;
  }

  .about-arch-cards-mobile{
    margin-top: 5vh;
  }

  .card{
    width: 45vh;
    line-height: 4vh;
    padding: 6vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vh;
    border-radius: 7px;
  }

  .card p{
    font-size: 18px;
    font-weight: bolder;
  }

  /*Download style*/
  #download-arch-linux{
    height: 80vh;
    padding-top: 5vh;
  }

  #download-arch-linux h3{
    margin-top: 2vh;
    font-size: 18px;
  }

  .download-line{
    width: 36.5%;
  }

  .download-arch-card{
    text-align: center;
    display: grid;
    width: 45vh;
    height: 55vh;
    line-height: 3vh;
    padding: 2vh;
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 2vh;
    border-radius: 7px;
    border: 4px solid #fff;
  }

  .download-arch-card p{
    font-size: 22px;
    line-height: 4vh;
  }

  .download-arch-card img{
    width: 17vh;
    margin-top: 3vh;
  }

  /*Footer syle*/
  footer{
    padding-top: 1vh;
  }

  footer h3{
    padding: 1vh;
    font-size: 15px;
  }
  
}
